
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Workforce Health & OSHWC Compliance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="margin:0; padding:0; background-color:#f4f6f8; font-family:Arial, Helvetica, sans-serif;">

    <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0"
        style="background-color:#f4f6f8;">
        <tr>
            <td align="center" style="padding:20px 10px;">

                <!-- Container -->
                <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0"
                    style="max-width:650px; background-color:#ffffff; border-radius:8px;">

                    <!-- Hero Image -->
                    <tr>
                        <td align="center">
                            <a href="https://nizcare.com">
                                <img src="https://raw.githubusercontent.com/Nizcare45/Email_template/refs/heads/main/images/Textile.png"
                                    alt="Workforce Health" width="650"
                                    style="width:100%; max-width:650px; height:auto; display:block; border:0;">
                            </a>
                        </td>
                    </tr>

                    <!-- Content -->
                    <tr>
                        <td style="padding:20px; font-size:15px; line-height:1.7; color:#333333;">
                            <p style="margin:0 0 15px 0;">Hi {{Name}},</p>

                            <p style="margin:0 0 15px 0;">
                                Textile dyeing and tanning involve regular exposure to chemicals, making worker health a
                                priority.
                            </p>

                            <p style="margin: 0 0 15px 0;">
                                As per the <strong>Occupational Safety, Health &amp; Working Conditions (OSHWC) Code,
                                    health
                                    check-ups for employees above 40 years are mandatory, and health records must be
                                    maintained.</strong>
                            </p>

                            <a href="https://nizcare.com" style="display:block; text-align:center; margin-left: 50px;">
                                <img src="https://raw.githubusercontent.com/Nizcare45/Email_template/refs/heads/main/images/Title.gif"
                                    alt="Workforce Health" width="650"
                                    style="width:90%; max-width:650px; height:250px; display:block; border:0; border-radius: 10px; ">
                            </a>

                            <!-- Highlight Box -->
                            <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0"
                                style="margin:15px 0; background-color:#f3fbfa; border-left:4px solid #1ea69a;">
                                <tr>
                                    <td style="padding:15px; font-size:14px; line-height:1.6; color:#333333;">
                                        <strong>Nizcare</strong> supports this through mandatory check-ups, preventive
                                        care, doctor consultations,
                                        and <strong>digital health records</strong>—ensuring compliance and safer
                                        operations.
                                    </td>
                                </tr>
                           
                        
                            </table>

                                                <!-- CTA BUTTON -->
                                                For enquiries please respond to this email or reach us at the contact number mentioned below.

                        </td>
                    </tr>



                    <!-- Signature -->
                    <tr>
                        <td style="padding:10px 20px 20px 20px;">
                            <p style="margin:0 0 6px 0;">Yours in Wellness,</p>

                            <p
                                style="margin:0 0 12px 0; font-size:14px; line-height:20px; color:#1ea69a; font-style:italic;">
                                Nizcare
                            </p>

                            <!-- Contact Buttons -->
                            <table align="center" role="presentation" cellpadding="0" cellspacing="0" border="0"
                                style="width:100%; max-width:420px;">
                                <tr>

                                    <!-- PHONE -->
                                    <td style="padding:4px; width:33.33%;">
                                        <a href="tel:+919789537313" style="background-color:#313933; color:#ffffff; text-decoration:none;
               padding:8px 10px; font-size:12px; border-radius:4px;
               display:block; text-align:center; white-space:nowrap;">
                                            📞 +91 97895 37313
                                        </a>
                                    </td>

                                    <!-- EMAIL -->
                                    <td style="padding:4px; width:33.33%;">
                                        <a href="mailto:grow@nizcare.com
     ?subject=Corporate%20Wellness%20Inquiry
     &body=Hi,%0D%0A%0D%0AWe%E2%80%99re%20interested%20in%20exploring%20Nizcare%E2%80%99s%20corporate%20wellness%20solutions.%20Please%20share%20a%20brief%20proposal%20and%20your%20availability%20for%20a%20discussion/demo.%0D%0A%0D%0ARegards,"
                                            style="background-color:#313933; color:#ffffff; text-decoration:none;
            padding:8px 10px; font-size:12px; border-radius:4px;
            display:block; text-align:center; white-space:nowrap;">
                                            ✉️ grow@nizcare.com
                                        </a>
                                    </td>

                                    <!-- WEBSITE -->
                                    <td style="padding:4px; width:33.33%;">
                                        <a href="https://corporate.nizcare.com/textile" style="background-color:#313933; color:#ffffff; text-decoration:none;
               padding:8px 10px; font-size:12px; border-radius:4px;
               display:block; text-align:center; white-space:nowrap;">
                                            🌐 www.nizcare.com
                                        </a>
                                    </td>

                                </tr>
                            </table>


                        </td>
                    </tr>

                    <!-- Footer -->
                    <tr>
                        <td align="center" style="background-color:#1ea69a; padding:20px;">
                            <img width="120"
                                style="background-color:#ffffff; padding:5px; border-radius:8px; display:block;"
                                src="https://raw.githubusercontent.com/Nizcare45/Email_template/refs/heads/main/images/nizcare_logo.png"
                                alt="Nizcare">

                            <p style="margin:10px 0 0 0; font-size:15px; font-weight:600; color:#ffffff;">
                                Corporate Health & Wellness Solutions
                            </p>

                            <p style="margin:10px 0 0 0; font-size:14px;">
                                <a href="https://www.instagram.com/niz_care/"
                                    style="color:#ffffff; text-decoration:none;">Instagram</a>
                                &nbsp;|&nbsp;
                                <a href="https://www.linkedin.com/company/nizcare/posts/?feedView=all"
                                    style="color:#ffffff; text-decoration:none;">LinkedIn</a>
                            </p>

                            <p style="margin:12px 0 0 0; font-size:12px; color:#e6f5f4;">
                                © 2026 Nizcare. All rights reserved.
                            </p>

                        </td>
                    </tr>

                </table>
                <!-- End Container -->

            </td>
        </tr>
    </table>

</body>

</html>